html {
	background-color: #118C4E;
 } 

 body {
 	background-color: #C1E1A6; 
 }

h1,h2,h3,h4,h5,h6, p, legend {
	color: #585858;
	font-family: 'Lora', serif;
}

h1 {
	font-weight: 400;
	font-style: italic;	
}

.header {
	 margin: 20px 0 5px 0;
	 background-color: #118C4E; 
}

#input1, #input2, #input3, #input4, 
#input5, #input6, #input7, #input8 {
	font-family: 'Lora', serif;
	font-size: 1.7em;
	font-weight: normal;
	text-align: center;
	color: #080808;
	width: 48px;
	letter-spacing: 4px;
	padding: 0 0 0 6px;
	border: 0;
	margin: 0;
}

/* Disable input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	border: 0;
}

#bull{
	font-size:large;
	padding: 0;
	vertical-align: sub;
	color: #080808;
}

.ip, .subnet {
	margin: 40px 0 0 0;
}

.message {
	margin: 40px 0 0 0;
}

.footer {
	background-color: #118C4E;
	padding: 40px 0;
	margin: 60px 0 0 0;
} 

li {
	display: inline;
	margin: 0;
	padding: 0 5px;
}

img {
	width: 32px;
	height: 32px;
}

.uk-button-large {
	font-family: 'Lora', serif;
	color: #f8f8f8;
	background-color: #8C114F;
	margin-top: 40px;
	border: 2px solid #f8f8f8;
	border-radius: 25px;
}

