html {
	background-color: #118C4E;
 } 

 body {
 	background-color: #C1E1A6; 
 }

h1,h2,h3,h4,h5,h6, p, legend {
	color: #585858;
	font-family: 'Lora', serif;
}

h1 {
	font-weight: 400;
	font-style: italic;	
}

.header {
	 margin: 20px 0 5px 0;
	 background-color: #118C4E; 
}

#input1, #input2, #input3, #input4, 
#input5, #input6, #input7, #input8 {
	font-family: 'Lora', serif;
	font-size: 1.55em;
	font-weight: 400;
	width: 70px;
}

.ip, .subnet {
	margin: 40px 0 0 0;
}

.message {
	margin: 40px 0 0 0;
}

.footer {
	background-color: #118C4E;
	padding: 40px 0;
	margin: 100px 0 0 0;
} 

li {
	display: inline;
	margin: 0;
	padding: 0 5px;
}

img {
	width: 32px;
	height: 32px;
}

.uk-button-large {
	font-family: 'Lora', serif;
	color: #f8f8f8;
	/*background-color: #FF9009;*/
	/*background-color: #C6A6E1*/;
	background-color: #8C114F;
	margin-top: 40px;
	border: 2px solid;
	border-radius: 25px;
}